# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Model artifacts
*.pt
*.pth
*.onnx

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Logs
*.log
